@media (max-width: 1024px) {

    body {
        font-family: sans-serif;
        margin: 0;
    }

    .main {
        background-image: url("../images/img_girl.jpg");
        background-size: cover;
        background-position: 65%;
        width: 100vw;
        height: 90vh;
    }
    .main h1, p {
        color: #000;
    }
    
    .main-inner {
        padding-top: 150%;
    }
    
    button {

    }

    .nav p {
        color: #000;
        width: 100vw;
        height: 10vh;
    }



}